{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 initial-scale=1, maximum-scale=1">
    <title>Document Summarizer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/scissors.png' %}"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="car">
        <h1>
          <span class="enclosed">SNIP</span>RISE&nbsp;<img id="scissors" style="transform: rotate(-30deg);"  src="{% static 'img/scissors.png' %}"/>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12">
            <div class="card-panel white hoverable">
              <div class="black-text">
                <form method='POST'> {% csrf_token %}
                  {{ form.text }}
                 <br><button class="bu btn waves-effect waves-light btn-small" type="submit" name="action">Summarise&nbsp;&nbsp;
                   <i class="material-icons right">create</i>
                 </button>
               </form>
              </div>
            </div>
          </div>
          <div class="col s12 l6">
              <div class="card-panel white hoverable">
                <!-- {{ form.summary }} -->
                 <textarea id="Summary" placeholder="Summary" class="materialize-textarea" readonly>{% if phrase %}{{ phrase }}{% endif %}</textarea>
                 <br>
                 <div class="parent">
                 <button id="Copy" data-clipboard-target="#Summary" class="bu btn waves-effect waves-light btn-small">Copy
                   <i class="material-icons right">content_copy</i>
                 </button>
                 <button id="Download" onClick="download()" class="bu btn waves-effect waves-light btn-small" type="submit" name="action">Download
                   <i class="material-icons right">file_download</i>
                 </button>
               </div>
              </div>
            </div>
            <div class="col s12 l6">
              <div class="card-panel white hoverable">
                <!-- {{ form.keywords }} -->

                 <textarea id="Keywords" placeholder="Keywords" class="materialize-textarea" readonly>{% if phrase %}{{ word }}{% endif %}</textarea>
                 <br>
<div class="parent">
                 <button data-clipboard-target="#Keywords" class="bu btn waves-effect waves-light btn-small">Copy
                   <i class="material-icons right">content_copy</i>
                 </button>
                 <button id="Download1" onClick="download1()" class="bu btn waves-effect waves-light btn-small" type="submit" name="action">Download
                   <i class="material-icons right">file_download</i>
                 </button>
               </div>
              </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script>
      new ClipboardJS('.btn');
      function download(){
        var a = document.body.appendChild(
            document.createElement("a")
        );
        a.download = "summary.txt";
        a.href = "data:text/html," + document.getElementById("Summary").innerHTML;
        a.click();
    }
    function download1(){
      var a = document.body.appendChild(
          document.createElement("a")
      );
      a.download = "keywords.txt";
      a.href = "data:text/html," + document.getElementById("Keywords").innerHTML;
      a.click();
  }
    </script>
  </body>
</html>
